* {box-sizing: border-box;}
body {text-align: center;}

.header {
    background-color: white;
    border: 1px solid rgb(223, 222, 222);
    box-shadow: 0 2px 6px 0 rgba(235, 225, 193, 0.863), 0 4px 15px 0 rgba(235, 225, 193, 0.863);
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 20px 10px;
    margin: 0; 
    width: 100%;
    height: 115px;
}
.logo {
    float: left;
    padding: 5px;
    font-size: 15px;
}
.links {
    float: right;
    margin-top: 18px;
}
.links a, .icon {
    float: left;
    display: block;
    /* color: rgb(216, 190, 142); */
    color: rgb(192, 170, 118);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    font-family: 'Caveat', cursive;
}
.drop {
    position: relative;
    float: left;
}
.dropcontent {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 5%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgb(192, 170, 118);
    min-width: 160px;
}
.dropcontent a {
    display: block;
    width: 100%;
}
a.icon {display: none;}
.drop:hover .dropcontent {display: block;}
.header a:hover:not(a.logo){
    background-color: rgb(192, 170, 118);
    color: white;
}
@media screen and (max-width: 800px) {
    .header a:not(.logo, a.icon) {display: none;}
    .header a.icon {
        color: rgb(216, 190, 142);
        display: block;
        float: right;
        margin: 20px 8px;
    }
}
@media screen and (max-width: 800px) {
    .resp{position: relative;}
    .header.responsive .links {
        position: absolute;
        width: 50%;
        left: 40%;
        top: 100%;
        margin-top: 50px;
        float: none;
        background-color: rgb(192, 170, 118);
        box-shadow: 0px 2px 4px 0px white;
        border-radius: 4px;
        z-index: 1;
    }
    .header.responsive a:not(.dropcontent > a, .icon) {color: white;}
    .header.responsive a:hover:not(.dropcontent > a) {color: rgb(192, 170, 118); background-color: white;}
    .header.responsive a:not(.logo, .icon){
        float: none;
        display: block;
        text-align: left;
    }    
    .header.responsive .drop {float: none;}
    .header.responsive .dropcontent {position: relative;}
    .header.responsive .drop .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .header.responsive .drop{position: relative;}
    .header.responsive .dropcontent{
        position: absolute;
        width: 50%;
        left: 30%;
        text-align: left;
        z-index: 1;
     }
}
@media screen and (max-width: 190px) {.header, .links {overflow: hidden;}}
/* @media screen and (max-width: 700px) {
    .header {position: unset;}
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .links { float: none;}
} */

.sectionhead {
    background-color: rgb(192, 170, 118);
    border-radius: 0 0 85% 85% / 30%;
    box-shadow: 0 2px 6px 0 rgba(235, 225, 193, 0.863), 0 4px 15px 0 rgba(235, 225, 193, 0.863);
    text-align: center;
    margin: 80px 0px;
    overflow: hidden;
}
h4 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    padding: 50px;
    text-shadow: 1px 1px 1px rgba(235, 225, 193, 0.863);
}

footer{
    margin: 0px;
    /* background-color: rgb(216, 190, 142); */
    /* background-image: url("photos/paper.jpg"); */
    background-image: url("shop.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
footer .footer-left,
footer .footer-center,
footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
footer .footer-left {width: 30%;}
footer h3{
	color:  #ffffff;
	font: normal 36px 'Caveat', cursive;
	margin: 0;
}
footer .footer-left img {width: 30%;}
footer h3 span {color:  white;}
footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
footer .footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
footer .websiteName {
	color: rgb(192, 170, 118);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
footer .footer-center {width: 35%;}
footer .footer-center i {
	background-color:  rgb(187, 169, 127);
	color: white;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
footer .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}
footer .footer-center p {
	display: inline-block;
	color: white;
	vertical-align: middle;
	margin:0;
}
footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
footer .footer-center p a{
	color:  white;
	text-decoration: none;;
}
footer .footer-right {width: 30%;}
footer .websiteAbout{
	line-height: 20px;
	color: rgb(192, 170, 118);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
footer .websiteAbout span{
	display: block;
	color:  white;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
footer .footer-icons {margin-top: 25px;}
footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  rgb(187, 169, 127);
	border-radius: 2px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 900px) {
    footer {background-position:unset;}
	footer .footer-left,
	footer .footer-center,
	footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	footer .footer-center i {margin-left: 0;}

}
@media (max-height:700px){
	footer { position: static; }
}

form{margin: 0px;}
.row {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 88, 49);
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(192, 170, 118);
    border-radius: 3px;
    width: 100%;
}
.col {flex: 50%;padding:8px;}
input, select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    color: rgb(102, 88, 49);
    font-weight: 40px;
    font-size: 15px;
    border: 1px solid rgb(192, 170, 118);
    border-radius: 3px;
}
input:focus , select:focus{
    outline: none !important;
    border: 1px solid rgb(196, 196, 196);
}
label {
    margin-bottom: 10px;
    display: block;
}
.btn {
    background-color: rgb(192, 170, 118);
    color: white;
    padding: 12px;
    margin: 18px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}
.icon-container {
  margin-bottom: 0;
  padding-top: 7px;
  font-size: 24px;
}
fieldset {
    border: 1px solid rgb(192, 170, 118); 
    padding: 25px;
    margin: 0px;
}
legend {
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgb(102, 88, 49);
}
.btn:hover {background-color: rgba(192, 170, 118, 0.8);}
@media (max-width: 800px) {
    .row {flex-direction: column;}
}